<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<Window  size="830,460" sizebox="4,4,6,6" caption="0,0,0,30"  roundcorner="10,10">
    <Font name="宋体" size="16" bold="false" italic="false" default="true" />
	<Font name="宋体" size="12" bold="false" italic="false" />
    <Default name="CheckBox" value="textcolor=&quot;#FFbac0c5&quot; hottextcolor=&quot;#FF386382&quot; selectedtextcolor=&quot;#FF386382&quot; disabledtextcolor=&quot;#FFbac0c5&quot; textpadding=&quot;20,2,0,0&quot; align=&quot;left&quot; selectedimage=&quot;file=&apos;checked.png&apos; dest=&apos;0,2,16,18&apos;&quot; normalimage=&quot;file=&apos;unchecked.png&apos; dest=&apos;0,2,16,18&apos;&quot;" />
    <VerticalLayout enabled="true" width="802" height="590" bkcolor="#FFE6E6E6" >
		<HorizontalLayout height="40" inset="5,5,5,5"  bordersize="1" bordercolor="#00B4B4B4">
			<Control enabled="true" />
			<Label text="天线耦合配置" enabled="true" width="302" height="35" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />
			<Control enabled="true" />
		</HorizontalLayout>
		<HorizontalLayout height="40" inset="5,5,5,5" bordersize="1" bordercolor="#00B4B4B4">
			<Control enabled="true" width="20"/>
			<CheckBox name="bGpsbox" text="是否测试GPS" enabled="true" width="160" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="left" />
			<Control enabled="true" width="10"/>
			<Button name="gpsdetaileconfigbtn" text="GPS详细配置" enabled="true" width="160" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" normalimage=" file=&apos;button_nor_show.png&apos;corner=&apos;5,5,5,5&apos;; " hotimage=" file=&apos;button_nor_show.png&apos;corner=&apos;5,5,5,5&apos;; " pushedimage=" file=&apos;button_down.bmp&apos;corner=&apos;5,5,5,5&apos;;" focusedimage=" file=&apos;Button_Hot.png&apos;corner=&apos;5,5,5,5&apos;; " disabledimage=" file=&apos;disable_btn.png&apos;corner=&apos;5,5,5,5&apos;; " />
			<Control enabled="true" />
		</HorizontalLayout>
		<HorizontalLayout height="40" inset="5,5,5,5" bordersize="1" bordercolor="#00B4B4B4"> 
			<Control enabled="true" width="20"/>
			<CheckBox name="bWlanbox" text="是否测试Wlan" enabled="true" width="160" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="left" />
			<Control enabled="true" width="10"/>
			<Label text="频段" enabled="true" width="80" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />
			<Edit name="wlanbandedt" text="" enabled="true" width="489" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" tooltip="1:n 2:b 3:n 4:ac" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" />
			<Control enabled="true" width="10"/>
			<Button name="" text="Detail" enabled="true" font="1" width="40" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" normalimage=" file=&apos;button_nor_show.png&apos;corner=&apos;5,5,5,5&apos;; " hotimage=" file=&apos;button_nor_show.png&apos;corner=&apos;5,5,5,5&apos;; " pushedimage=" file=&apos;button_down.bmp&apos;corner=&apos;5,5,5,5&apos;;" focusedimage=" file=&apos;Button_Hot.png&apos;corner=&apos;5,5,5,5&apos;; " disabledimage=" file=&apos;disable_btn.png&apos;corner=&apos;5,5,5,5&apos;; " endellipsis="true"/>
			<Control enabled="true"/>
		</HorizontalLayout>
		<HorizontalLayout height="40" inset="5,5,5,5" bordersize="1" bordercolor="#00B4B4B4"> 
			<Control enabled="true" width="20"/>
			<CheckBox name="bLtebox" text="是否测试LTE" enabled="true" width="160" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="left" />
			<Control enabled="true" width="10"/>
			<Label text="频段" enabled="true" width="80" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />
			<Edit name="ltebandedt" text="1,2,3,4,5,7,20,28,38,39,40,41" enabled="true" width="489" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" />
			<Control enabled="true"/>
		</HorizontalLayout>
		<HorizontalLayout height="40" inset="5,5,5,5" bordersize="1" bordercolor="#00B4B4B4">
			<Control enabled="true" width="20"/>
			<CheckBox name="bWcdmabox" text="是否测试WCDMA" enabled="true" width="160" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="left" />
			<Control enabled="true" width="10"/>
			<Label text="频段" enabled="true" width="80" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />
			<Edit name="wcdmabandedt" text="1,2,4,5,8" enabled="true" width="489" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" />
			<Control enabled="true"/>
		</HorizontalLayout>
		<HorizontalLayout height="40" inset="5,5,5,5" bordersize="1" bordercolor="#00B4B4B4">
			<Control enabled="true" width="20"/>
			<CheckBox name="bTdscdmabox" text="是否测试TDSCDMA" enabled="true" width="160" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="left" />
			<Control enabled="true" width="10"/>
			<Label text="频段" enabled="true" width="80" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />
			<Edit name="tdscdmabandedt" text="34,39" enabled="true" width="489" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" />		
			<Control enabled="true"/>		
        </HorizontalLayout>
		<HorizontalLayout height="40" inset="5,5,5,5" bordersize="1" bordercolor="#00B4B4B4">
			<Control enabled="true" width="20"/>
			<CheckBox name="bCdmabox" text="是否测试CDMA" enabled="true" width="160" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="left" />
			<Control enabled="true" width="10"/>
			<Label text="频段" enabled="true" width="80" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />
			<Edit name="cdmabandedt" text="0" enabled="true" width="489" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" tooltip="BC0 标识为0"/>
			<Control enabled="true"/>		
		</HorizontalLayout>
		<HorizontalLayout height="40" inset="5,5,5,5" bordersize="1" bordercolor="#00B4B4B4">
			<Control enabled="true" width="20"/>
			<CheckBox name="bGsmbox"text="是否测试GSM" enabled="true" width="160" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="left" />
			<Control enabled="true" width="10"/>
			<Label text="频段" enabled="true" width="80" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />		
			<Edit name="gsmbandedt" text="2,3,5,8" enabled="true" width="489" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" tooltip="GSM B2/3/5/8对应GSM 1900 1800 850 900"/>
			<Control enabled="true"/>		
		</HorizontalLayout>
		<HorizontalLayout height="40" inset="5,5,5,5" bordersize="1" bordercolor="#00B4B4B4">
			<Control enabled="true" width="20"/>
			<CheckBox name="bRx" text="是否测试接收" enabled="true" width="160" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="left" />
			<Control enabled="true" width="10"/>
			<Label text="重测次数" enabled="true" width="80" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />		
			<Edit name="rxcountedt" text="3"enabled="true" width="64" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" />
			<Control enabled="true" width="20"/>
			<CheckBox name="bExportLog" text="是否导出txtLog" enabled="true" width="160" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="left" />
			<Control enabled="true"/>		
		</HorizontalLayout>
		<HorizontalLayout height="40" inset="5,5,5,5" bordersize="1" bordercolor="#00B4B4B4">
			<Control enabled="true" width="20"/>
			<Combo name="remoteCombo" text="请选择连接方式" tooltip="请在这里选择测试仪器" enabled="true"width="120" height="30" itemtextcolor="#FF000000" itemselectedtextcolor="#FF000000" itemselectedbkcolor="#FFC1E3FF" itemhottextcolor="#FF000000" itemhotbkcolor="#FFE9F5FF" itemdisabledtextcolor="#FFCCCCCC" itemdisabledbkcolor="#FFFFFFFF" normalimage="file=&apos;Combo_nor.bmp&apos; corner=&apos;2,2,50,2&apos;" hotimage="file=&apos;Combo_over.bmp&apos; corner=&apos;2,2,50,2&apos;" pushedimage="file=&apos;Combo_over.bmp&apos; corner=&apos;2,2,50,2&apos;" dropboxsize="0,250" itemalign="center" >
				<ListLabelElement text="GPIB" selected="true"/>
				<ListLabelElement text="TCPIP" />
				<ListLabelElement text="VISA" />	
			</Combo>
			<Control enabled="true" width="20"/>
			<Combo name="instrumentCombo" text="请选择测试仪器" tooltip="请在这里选择测试仪器" enabled="true"width="160" height="30" itemtextcolor="#FF000000" itemselectedtextcolor="#FF000000" itemselectedbkcolor="#FFC1E3FF" itemhottextcolor="#FF000000" itemhotbkcolor="#FFE9F5FF" itemdisabledtextcolor="#FFCCCCCC" itemdisabledbkcolor="#FFFFFFFF" normalimage="file=&apos;Combo_nor.bmp&apos; corner=&apos;2,2,50,2&apos;" hotimage="file=&apos;Combo_over.bmp&apos; corner=&apos;2,2,50,2&apos;" pushedimage="file=&apos;Combo_over.bmp&apos; corner=&apos;2,2,50,2&apos;" dropboxsize="0,250" itemalign="center" >
				<ListLabelElement text="CMW500" selected="true"/>
				<ListLabelElement text="8960" />
				<ListLabelElement text="CMU200" />
			</Combo>		
			<Label text="VISA" name="visaLab" visible="false" enabled="true" width="80" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />
			<Edit name="visaStringEdt" visible="false" text="TCPIP0::192.168.133.22::inst0::INSTR" enabled="true" width="400" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" tooltip="通过NI查看接口"/>	
			
			<Label text="IP"  visible="true" name="ipLab" enabled="true" width="30" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />
			<Edit name="ipAddressEdt" visible="true" text="192.168.133.22" enabled="true" width="200" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" tooltip="通过NI查看接口"/>
			<Label text="SubInstrument" name="subInstrumentLab" visible="true" enabled="true" width="150" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />
			<Edit name="subInstrumentEdt" text="0" visible="true" enabled="true" width="60" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" tooltip="通过NI查看仪器地址"/>
			
			<Label text="仪器接口" name="boardidLab" visible="false" enabled="true" width="80" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />
			<Edit name="boardidEdt" visible="false" text="0" enabled="true" width="64" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" tooltip="通过NI查看接口"/>
			<Label text="仪器地址" name="padLab" visible="false" enabled="true" width="80" height="30" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" />
			<Edit name="padEdt" text="20" visible="false" enabled="true" width="64" height="30" bkcolor="#FFFFFFFF" textpadding="4,3,4,3" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" tooltip="通过NI查看仪器地址"/>
			<Combo name="gpibTypeCombo" text="请选择GPIB类型" padding="10,0,0,0" tooltip="请在这里选择测试仪器" enabled="true"width="160" height="30" itemtextcolor="#FF000000" itemselectedtextcolor="#FF000000" itemselectedbkcolor="#FFC1E3FF" itemhottextcolor="#FF000000" itemhotbkcolor="#FFE9F5FF" itemdisabledtextcolor="#FFCCCCCC" itemdisabledbkcolor="#FFFFFFFF" normalimage="file=&apos;Combo_nor.bmp&apos; corner=&apos;2,2,50,2&apos;" hotimage="file=&apos;Combo_over.bmp&apos; corner=&apos;2,2,50,2&apos;" pushedimage="file=&apos;Combo_over.bmp&apos; corner=&apos;2,2,50,2&apos;" dropboxsize="0,250" itemalign="center" >
				<ListLabelElement text="NIGPIB" selected="true"/>
				<ListLabelElement text="AGILENTGPIB" />
			</Combo>
			<Control enabled="true"/>	
		</HorizontalLayout>
		<HorizontalLayout height="60" inset="5,5,5,5" bordersize="1" bordercolor="#00B4B4B4">
			<Control enabled="true"/>	
			<Button name="detailedConfigBtn" text="测试详细配置" tooltip="频段线损等配置" enabled="true" width="160" height="50" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" normalimage=" file=&apos;button_nor_show.png&apos;corner=&apos;5,5,5,5&apos;; " hotimage=" file=&apos;button_nor_show.png&apos;corner=&apos;5,5,5,5&apos;; " pushedimage=" file=&apos;button_down.bmp&apos;corner=&apos;5,5,5,5&apos;;" focusedimage=" file=&apos;Button_Hot.png&apos;corner=&apos;5,5,5,5&apos;; " disabledimage=" file=&apos;disable_btn.png&apos;corner=&apos;5,5,5,5&apos;; " />
			<Control enabled="true" width="20"/>
			<Button name="savebtn" text="保存" enabled="true" width="160" height="50" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" normalimage=" file=&apos;button_nor_show.png&apos;corner=&apos;5,5,5,5&apos;; " hotimage=" file=&apos;button_nor_show.png&apos;corner=&apos;5,5,5,5&apos;; " pushedimage=" file=&apos;button_down.bmp&apos;corner=&apos;5,5,5,5&apos;;" focusedimage=" file=&apos;Button_Hot.png&apos;corner=&apos;5,5,5,5&apos;; " disabledimage=" file=&apos;disable_btn.png&apos;corner=&apos;5,5,5,5&apos;; " />
			<Control enabled="true" width="20"/>
			<Button name="cancelbtn" text="取消" enabled="true" width="160" height="50" textcolor="#FF000000" disabledtextcolor="#FFA7A6AA" align="center" normalimage=" file=&apos;button_nor_show.png&apos;corner=&apos;5,5,5,5&apos;; " hotimage=" file=&apos;button_nor_show.png&apos;corner=&apos;5,5,5,5&apos;; " pushedimage=" file=&apos;button_down.bmp&apos;corner=&apos;5,5,5,5&apos;;" focusedimage=" file=&apos;Button_Hot.png&apos;corner=&apos;5,5,5,5&apos;; " disabledimage=" file=&apos;disable_btn.png&apos;corner=&apos;5,5,5,5&apos;; " />
			<Control enabled="true"/>	
		</HorizontalLayout>
    </VerticalLayout>
</Window>
