

[SETUP]
comPortName=COM9		; COM port name used for XY table communication
comPortBAUD=4800		; COM port baud rate used for XY table communication
id=#0				; reference number
name=QEQ901			; name of phone
prtnum=10-XXXXX-1		; QUALCOMM mcn
dimType=MM			; dimension types are inches or metric
TXYorigin=0			; xy table origin (0=lower left 1=upper left 2=upper right 3=lower right)
PXYorigin=0			; phone origin (0=lower left 1=upper left 2=upper right 3=lower right)
PXoffset=160		; phone relative position from xy table origin
PYoffset=50			; phone relative position from xy table origin
PYdim=152.40			; phone over size 6inches
PXdim=76.20			; phone overall size �3inches
SYdim=127.00			; phone screen size 5 inches
SXdim=50.80			; phone screen size 2inches
OYdim=12.00			; offset of screen from phone overall size
OXdim=6.00			; offset of screen from phone overall size
Zmax=2000			; maximum Z axis (use for z press actuator )
gridSize=4			; grid size (based on stylus)
Q1KEEPOUTX1= 30		 ;left boundary of a quad
Q1KEEPOUTX2 = 50		; right boundary of a quad
Q1KEEPOUTY1 = 10		; lower boundary 
Q1KEEPOUTY2 = 20		; upper boundary


####
#### Following unit is micrometer
####
Zphone=2032			; distance to phone (for touch actuator)
Z2_XOffset = 0		        ; This is the X offset from the Z1 (touch) actuator. Subtracted from Z1 X coordinate
Z2_YOffset = 0    		; This is the Y offset from the Z1 (touch) actuator.  Subtracted from Z1 Y coordinate
XrefOffset = 0			; X offset reference. Use this to establish a new reference point from which all X measurements are made
YrefOffset = 0			; Y offset reference. Use this to establish a new reference point from which all Y measurements are made
Z1GlobalOffset = 0		; A global value for Z1 that is added to every Z1 position command. Used to calibrate height between testers.
Z2GlobalOffset = 0		; A global value for Z2 that is added to every Z1 position command. Used to calibrate height between testers.

DUTZone_Max_X=16510  		; maximum x for zone lower thank LCD screen
DUTZone_Max_Y=4318  		;maximum y for zone lower thank LCD screen
DUTZone_safe_z1=0		;minimum z1 safe for moving around in DUT zone
DUTZone_safe_z2=0		;safe for moving around in DUT zone
AllZone_safe_z1=0		;safe for moving around in all area
AllZone_safe_z2=0 		;minimum z1 safe for moving around in all area


# type = Z1  (LCD TOUCH)
# type = Z2  (MECHANICAL PUSH)
# 1250/90 0/350
[HOME_KEY]
gridx=0
gridy= 1016
offsetX= 0
offsetY= 0
zmax = 2108
type = Z2

# Release Lever
[LEVER1]
gridx= 9200	
gridy	=10500
offsetX = 0
offsetY= 0
zmax = 2600
type = Z2

#Top of phone lever
[LEVER2]
gridx=19500
gridy=500
offsetX=0
offsetY= 0
zmax=2600
type = Z2

[LEVER3]
gridx	 = 0
gridy	  = 0
offsetX=0
offsetY= 0
zmax=1.0 
type = Z2

[LEVER4]
gridx	 = 0
gridy	  = 0
offsetX=0
offsetY= 0
zmax=1.0 
type = Z2

[LEVER5]
gridx	 = 0
gridy	  = 0
offsetX=0
offsetY= 0
zmax=1.0 
type = Z2

; HARD KEYS


####  Actuator XY movement push (Actuator pushes phone buttons directly by moving sideways
#### Do not use these coordinates with the pushbutton levers instlled!!  

 [VOLUP]
 gridx	= 14500
 gridy	= 9500
 offsetX = 0  
 offsetY= -650
 zmax=2500
 type = Z2

####  Actuator XY movement push
 [VOLDWN]
 gridx = 12500
 gridy=9500
 offsetX=0
 offsetY=  -650
 zmax =2500
 type = Z2


####  Actuator XY movement push
 [PWR] 
 gridx= 11300
 gridy=9500
 offsetX=0 
 offsetY= -650
 zmax=2500
 type = Z2


; TOUCH  Items

[ICON_CALL]
gridx=13970
gridy=10160
offsetX=0
offsetY= 0
zmax = 762
type = Z1


[KEYPD_1]
gridx= 8636
gridy= 8890
offsetX=0
offsetY= 0
zmax = 762
type = Z1

[KEYPD_2]
gridx=8636
gridy=10160
offsetX=0
offsetY= 0
zmax = 762
type = Z1

[KEYPD_3]
gridx=8636
gridy=11684
offsetX=0
offsetY= 0
zmax = 762
type = Z1

[KEYPD_4]
gridx= 5080
gridy= 8890
offsetX= 0 
offsetY= 0
zmax = 1016
type = Z1

[KEYPD_5]
gridx= 10160
gridy= 10160
offsetX=0
offsetY= 0
zmax = 762
type = Z1

[KEYPD_6]
gridx= 10160
gridy= 11684
offsetX= 0
offsetY= 0
zmax = 762
type = Z1

[KEYPD_7]
gridx= 11430
gridy= 8890
offsetX=0
offsetY= 0
zmax = 762
type = Z1

[KEYPD_8]
gridx= 11430
gridy= 10160
offsetX=0
offsetY= 0
zmax = 762
type = Z1

[KEYPD_9]
gridx=11430
gridy=11684
offsetX=0
offsetY= 0
zmax = 762
type = Z1


[KEYPD_0]
gridx= 12700
gridy= 10160
offsetX= 0
offsetY= 0
zmax = 762
type = Z1


[KEY_UNLOCK]
gridx= 12700
gridy= 10160
offsetX= 0
offsetY= 0
zmax = 762
type = Z1

[LOC_LCD_BACKLIGHT]
gridx= 10370
gridy= 10890
offsetX= 0
offsetY= 0
zmax = 950
type = Z1

; LCD touch points
[LOC_TOUCH_1]
gridx= 5500
gridy= 4000
offsetX= 0
offsetY= 0
zmax = 1000
type = Z1

[LOC_TOUCH_2]
gridx= 5500
gridy= 9000
offsetX= 0
offsetY= 0
zmax = 1000
type = Z1

[LOC_TOUCH_3]
gridx= 13500
gridy= 9000
offsetX= 0
offsetY= 0
zmax = 1000
type = Z1

[LOC_TOUCH_4]
gridx= 13500
gridy= 4000
offsetX= 0
offsetY= 0
zmax = 1000
type = Z1

 ; LCD 

[LCD_LL]
gridx= 1016
gridy= 0
offsetX= 0
offsetY= 0
zmax = 889
type = Z1


[LCD_LR]
gridx= 12700
gridy= 0
offsetX= 0
offsetY= 0
zmax = 889
type = Z1


[LCD_UL]
gridx= 1016
gridy= 6096
offsetX= 0
offsetY= 0
zmax = 889
type = Z1


[LCD_UR]
gridx= 12700
gridy= 6096
offsetX= 0
offsetY= 0
zmax = 889
type = Z1


;xyTable

[LL_CORNER]
gridx= 0
gridy= 0
offsetX= 0
offsetY= 0
zmax = 0
type = Z1


[LR_CORNER]
gridx= 25400
gridy= 0
offsetX= 0
offsetY= 0
zmax = 0
type = Z1


[UL_CORNER]
gridx= 0
gridy= 12700
offsetX= 0
offsetY= 0
zmax = 0
type = Z1


[UR_CORNER]
gridx= 25400
gridy= 12700
offsetX= 0
offsetY= 0
zmax = 0
type = Z1


; SENSORS

[MIC_1]
gridx= 0
gridy= 0
offsetX= 0
offsetY= 0
zmax = 0
type = 0

[MIC_2]
gridx= 0
gridy= 0
offsetX= 0
offsetY= 0
zmax = 0
type = 0

[LIGHTSENSE]
gridx= 13970
gridy= 8000
offsetX= 0
offsetY= 0
zmax = 200
type = Z1

[LED_1]
gridx= 14240
gridy= 9806
offsetX= 0
offsetY= 0
zmax = 1000
type = Z1

[LED_2]
gridx= 14240
gridy= 9806
offsetX= 0
offsetY= 0
zmax = 1000
type = Z1

[LED_3]
gridx= 13240
gridy= 7906
offsetX= 0
offsetY= 0
zmax = 800
type = Z1


[EARPIECE]
gridx= 15494
gridy= 8382
offsetX= 0
offsetY= 0
zmax = 2870
type = Z1

[PROXSENSE]
gridx= 13970
gridy= 8890
offsetX= -6350
offsetY= 3810
zmax = 800
type = Z1


[SPKR_1]
gridx= 0
gridy= 0
offsetX= 0
offsetY= 0
zmax = 0
type = Z1

    
[SPKR_2]
gridx= 0
gridy= 0
offsetX= 0
offsetY= 0
zmax = 0
type = Z1

    
[SPKR_3]
gridx= 0
gridy= 0
offsetX= 0
offsetY= 0
zmax = 0
type = Z1

    
[SPKR_4]
gridx= 0
gridy= 0
offsetX= 0
offsetY= 0
zmax = 0
type = Z1

[MAG_POS1]
gridx= 15970
gridy= 8890
offsetX= 0
offsetY= 0
zmax = 800
type = Z1

[MAG_POS2]
gridx= 6000
gridy= 6500
offsetX= 0
offsetY= 0
zmax = 0
type = Z1


[MAG_POS3]
gridx= 13462
gridy= 8890
offsetX= 0
offsetY= 0
zmax = 0
type = Z1


[MAG_POS4]
gridx= 14478
gridy= 5080
offsetX= 0
offsetY= 0
zmax = 0
type = Z1

    
[HALL_1]
gridx= 12700
gridy= 10160
offsetX= 0
offsetY= 0
zmax = 0
type = Z1

    
[HALL_2]
gridx= 12700
gridy= 10160
offsetX= 0
offsetY= 0
zmax = 0
type = Z1



# MMI GUI "PASS"
[SPARE1]
gridx= 1270
gridy= 5080
offsetX= 0
offsetY= 0
zmax = 1016
type = Z1

# MMI GUI "UP"   
[SPARE2]
gridx= 7620
gridy= 0
offsetX= 0
offsetY= 0
zmax = 1016
type = Z1

# MMI GUI "DOWN"      
[SPARE3]
gridx= 4318
gridy= 0
offsetX= 0
offsetY= 0
zmax = 1016
type = Z1

# MMI GUI TOUCH TEST    
[SPARE4]
gridx= 5080
gridy= 5080
offsetX= 0
offsetY= 0
zmax = 1016
type = Z1

# MMI GUI MAGNO TEST     
[SPARE5]
gridx= 9652
gridy= 5080
offsetX= 0
offsetY= 0
zmax = 1016
type = Z1

# MMI GUI KEYS TEST     
[SPARE6]
gridx= 5080
gridy= 5080
offsetX= 0
offsetY= 0
zmax = 1016
type = Z1

 # MMI GUI VIBE TEST    
[SPARE7]
gridx= 3048
gridy= 5080
offsetX= 0
offsetY= 0
zmax = 1016
type = Z1

 # MMI GUI PROX TEST      
[SPARE8]
gridx= 8636
gridy= 5080
offsetX= 0
offsetY= 0
zmax = 1016
type = Z1

 # MMI GUI ACCELEROMETER TEST      
[SPARE9]
gridx= 2032
gridy= 5080
offsetX= 0
offsetY= 0
zmax = 400
type = Z1

# move away carriage for LCD_QUALITY_PHONE test
[ForCameraLCDTest]
gridx= 0	
gridy	=0
offsetX = 0
offsetY= 0
zmax = 0
type = 0